.main{
    width:100%;
    .secTitle{
        .title{
            position: relative;
            width:max-content;
            color:hsl(240,4%,36%);
            margin:1rem 0;
            z-index:2;
            
            &::after{
                position: absolute;
                content: "";
                background: hsl(187,85%,43%);
                height: 5px;
                width: 120px;
                right:0;
                bottom: 5px;
                z-index: -1;
            }
        }


       
    }

    .secContent{
        justify-content: center;
        gap:1.5rem;

        .singleDestination{
            height:100%;
            display: grid;
            row-gap:10px;
            
            border-radius: 10px;
            align-items: center;
            background: rgb(225,225,235);
            box-shadow: 0 2px 4px rgba(140,140,141,0.549);
            overflow: hidden;

            &:hover{
                background: rgb(255,255,255);
                box-shadow: 1 4px 4px rgba(85,85,114,0.549);
                transition: 0.3s ease;
            }

            .imageDiv{
                height:180px;
                width: 100%;
                overflow: hidden;
            }
            .imageDiv img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: 2s ease;
            
                &:hover{
                    transform: scale(1.1);
                }
            }

            .cardInfo{
                padding: 1rem;

                .destTitle{
                    color:black;
                    font-size: 1.25rem;
                }
                .continent{
                    gap:0.5rem;

                    .icon{
                        color:hsl(240,4%,36%);
                        font-size: 18px;
                    }
                    .name{
                        color:hsl(240,4%,36%);
                        font-weight: 400;
                        font-size:14px;
                    }
                }

            }

            .fees{
                width:100%;
                justify-content: space-between;
                padding: 1rem;
                margin:1rem 0;
                border-top: 1.5px solid rgb(190,190,190);
                border-bottom: 1.5px solid rgb(190,190,190);

                .grade{
                    color:hsl(240,4%,36%);
                    max-width:100px;
                    line-height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .grade small{
                    text-align: center;
                    background: linear-gradient(to right,hsl(187,85%,43%),hsl(199,100%,33%));
                    border-radius: 1rem;
                    color:white;
                    padding: 1px 10px;
                    font-size: 10px;

                }
                .price{
                    font-size: 2rem;
                    color: hsl(201,33%,16%);
                }
            }
            .desc{
                font-size: 14px;
                color:hsl(240,4%,36%);
                font-weight: 500;
                padding: 1rem;
            }

            .btn{
                
                margin-bottom: 1rem;
                margin-left: 1rem;
                color:white;
                font-weight: 600;
                justify-content: space-between;
                align-items: center;
                gap:0.5rem;
                width:fit-content;

                .icon{
                    
                    font-size: 18px;
                }
            }

        }


    }

}

@media screen and (min-width:500px){
    .title{
        font-size: 1.5rem;
        &::after{
            width: 155px !important;
        }
    }

    .secContent{
        grid-template-columns: repeat(2,1fr);

        .singleDestination{
            height: auto;
        }
    }
}

@media screen and (min-width:840px) {
    .secContent{
        grid-template-columns: repeat(3,1fr);

        .singleDestination{
            height: auto;
        }
    }
    
}

