.header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:hsl(0,0%,93%) ;
    width: 100%;
    padding: 1rem;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(2, 15, 29, 0.24);

    .logo{
        color:hsl(201,33%,16%)
    }
    
    
    @media screen and (max-width:768px) {
        .navBar{
            position: absolute;
            background:hsl(0,0%,93%);
            height: max-content;
            width: 80%;
            border-radius: 1rem;
            top:-100rem;
            left:10%;
            padding: 1rem;
            z-index:2000;
            box-shadow: 0 2px 4px rgba(2,15,29,0.904);
            transition: .3s ease-in-out;

        }
        .navBarOn{
            top:7rem;
        }
        .navLists{
            flex-direction: column;
            justify-content: center;
            width: 100%;
            margin: auto;
            padding: 0.5rem 0;
        }
        .navItem{
            padding: 0.5rem 0;
        }
        .navLink{
            color:hsl(240,4%,36%);
            font-size: 0.9rem;
            font-weight: 600;
        }
        .btn{
            margin-top: 20px;
            a{
                font-weight: 600;
                color:hsl(0,0%,100%);
            }
        }
        .closeNavbar{
            
            position: absolute;
            top:1rem;
            right:1.5rem;
            color:hsl(187,85%,43%);
        }

        .logo{
            color:hsl(201,33%,16%);
            font-weight: 600;
            cursor:pointer;
            align-items: center;
            justify-content: center;

            .icon{
                font-size: 25px;
                color:hsl(199,100%,33%);
                transform: translateY(5px);
            }
        }
        
        .toggleNavbar{
            
            .icon{
                font-size: 25px;
                color:hsl(199,100%,33%);
            }
        }
    }
    
}

@media screen and (min-width:769px) {
    .closeNavbar,.toggleNavbar{
        display: none;
    }
    .header{
        padding: 1.5rem 2rem;
        .navBar{
            .navLists{
                display: flex;
                align-items: center;
                justify-content: center;

                .navItem{
                    .navLink{
                        color:hsl(240,4%,36%);
                        padding: 0 0.5rem;
                        font-size: 0.9rem;
                         font-weight: 500;

                         &:hover{
                            color:hsl(199,100%,33%);
                         }
                    }
                }
                .btn{
                    margin-left: 1rem;

                }
                .btn a{
                    color: white;
                    font-weight: 500;
                }
            }
        }
    }
}

@media screen and (min-width:960px){
    .header .navItem{
        padding: 0 0.7rem;
    }
}

@media screen and (min-width:1240px){
    .header {
        padding: 1rem 8.5rem;
    }
}